<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".EndCiteActivity"></activity>
        <activity
            android:name=".ForOrAgainst"
            android:label="@string/title_activity_for_or_against"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity android:name=".EditRipActivity" />
        <activity android:name=".BoutJudgeActivity" />
        <activity android:name=".BoutDebatorActivity" />
        <activity android:name=".FinalMCVotingActivity" />
        <activity android:name=".HubJudgeActivity" />
        <activity android:name=".HubActivity" />
        <activity android:name=".CreateStatementActivity" />
        <activity android:name=".SessionJoinListActivity" />
        <activity android:name=".InitialStatementsActivity" />
        <activity android:name=".LobbyActivity" />
        <activity android:name=".HostNewGame" /> <!-- The below is for the splash screen and we need no action bar and the default theme -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>